@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;600&display=swap');

body,
html {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  width: 100%;
  font-family: 'Outfit', sans-serif;
}

#app{
  display: grid;
  grid-template-rows: 5rem 1fr 3rem;
}


/* HEADER: contains nav */
header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0 2rem;
  font-weight: 600;
}

h1{
  color: #220066;
}

nav{
  width: 50%;
  background-color: #220066;
  border-radius: 2rem;
}

nav ul{
  display: flex;
  justify-content: space-around;
  padding: 0;
}

nav li a, nav li{
  text-decoration: none;
  list-style: none;
  color: white;
}


/* MAIN: contains all products */
main{
  margin: 2rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

img{
  width: 50%;
  height: 50%;
}

span{
  margin-right: 10px;
}

/* FOOTER*/
footer{
  text-align: center;
  background-color: #220066;
  color: white;
  border-radius: 20px;
  margin: 0 1rem;
}
